.wrapper {
  min-height: 100vh;
  background: linear-gradient(to right, #141e30, #243b55);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  font-family: 'Poppins', sans-serif;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  background: linear-gradient(90deg, #4dc5ff, #7b61ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.inputContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 500px;
}

.input {
  flex: 1;
  padding: 1rem;
  border-radius: 12px;
  border: none;
  font-size: 1rem;
  background-color: #1f2937;
  color: #fff;
  outline: none;
  transition: 0.3s;
}

.input:focus {
  box-shadow: 0 0 0 2px #7b61ff;
}

.addBtn {
  background: #7b61ff;
  border: none;
  border-radius: 12px;
  padding: 0 1.2rem;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background: #4dc5ff;
}

.taskList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 500px;
}

.taskItem {
  padding: 1rem;
  background: #2c3e50;
  margin-bottom: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.taskItem:hover {
  background: #34495e;
}

.completed {
  text-decoration: line-through;
  color: #aaa;
  background-color: #1f2937;
}
